# Configuration MongoDB
 


MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_DBNAME=medical_db  # Changed from chatbot_db to medical_db
MONGODB_USER=  # Leave empty if no authentication
MONGODB_PASSWORD= 
# Database Type
DATABASE_TYPE=mysql

# Configuration Llama - Option 1: Groq API (gratuit)
# Obtenez votre clé gratuite sur: https://console.groq.com/
GROQ_API_KEY=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
GROQ_MODEL ="llama3-70b-8192"   

# Configuration Ollama (optionnel - pour utilisation locale)
OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=llama2

# Prompts système
SYSTEM_PROMPT=You are an AI assistant that provides information from database data. Be concise and helpful.
SYSTEM_PROMPT_QUERY=You are an AI that creates database queries based on user questions and database schema.

 
 

# MySQL Configuration
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DBNAME=airport_db
MYSQL_USER=root
MYSQL_PASSWORD=nourhen123

# PostgreSQL Database Details
POSTGRESQL_DBNAME=chatbot_db
POSTGRESQL_USER=postgres
POSTGRESQL_PASSWORD=nourhen123
POSTGRESQL_HOST=localhost
POSTGRESQL_PORT=5432
# Oracle Database Details
ORACLE_USER=root
ORACLE_PASSWORD=password123
ORACLE_HOST=localhost
ORACLE_PORT=1521
ORACLE_DBNAME=mydatabase
